@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
     border: 0;
     margin: 0;
     padding: 0;
     font-family: 'Poppins', sans-serif;
     box-sizing: border-box;
}

body {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;

     width: 100vw;
     height: 100vh;

     background-color: gainsboro;
}

h2 {
     margin-bottom: 2rem;
     font-size: 25pt;
}

h2#welcomeTitle {
     margin-bottom: 0;
     font-size: 23pt;
     padding-bottom: 0.8rem;
     line-height: 36px;
}

div#form, div#welcome {
     padding: 1.8rem;

     width: 40vw;
     height: 15vh;

     background-color: white;
     border-radius: 8px;
     box-shadow: 9px 9px 0px black;
}

h3 {
     margin-bottom: 0.4rem;
     font-size: 15pt;
}

input#name {
     display: block;
     width: 100%;
     height: 25px;
     outline: none;
     background-color:beige;
     border: 2px solid transparent;
     border-radius: 5px;
     margin-bottom: 0.30rem;
}

input#name:hover {
     border: 2px solid gray;
}

input#inputSubmit, button#logout {
     width: 15%;
     height: 25px;
     background-color:beige;
     border-radius: 5px;
}

input#inputSubmit:hover, button#logout:hover {
     background-color:gray;
}

@media(max-width: 667px) {
     h2 {
          font-size: 25pt;
     }
     
     h2#welcomeTitle {
          font-size: 20pt;
     }

     div#form, div#welcome {
          width: 75vw;
          height: 35vh;
     }
     
     input#name {
          height: 30px;
          margin-top: 0.6rem;
          margin-bottom: 0.6rem;
     }
     
     input#inputSubmit, button#logout {
          width: 30%;
          height: 35px;
          border-radius: 2px;
     }
}